@mixin scrollbars($size, $foreground-color, $background-color) {
    // For Google Chrome
     ::-webkit-scrollbar {
        width: $size * .6;
        height: $size * .6;
        @include mq-large {
            width: $size;
            height: $size;
        }
    }
     ::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }
     ::-webkit-scrollbar-track {
        background: $background-color;
    }
    // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

@include scrollbars(6px, $c-black, $c-white);