.hud{
    &.title {
        top: 8vw;
        left: 8vw;
        padding-bottom: .1em;
        text-align: left;
    }

    &.subtitle {
        left: 8vw;
        top: 8vw;
        transform: translateY(5vw);
        text-align: left;
        span {
            // color: orange
        }
    }

    &.btn-start {
        left: 8vw;
        top: 8vw;
        transform: translateY(9vw);
        a {
            text-align: left;
        }
    }
}