.worker-utils {
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5em;
        height: 2.5em;
        border-radius: 100%;
        padding: 0;
        svg{
            width: 70%;
            height: 70%;
            fill: white;
            transform: translate(10%, 10%)
        }
    }
}