.worker-utils {
    .c-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5em;
        height: 2.5em;
        border-radius: 100%;
        padding: 0;
        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%;
            height: 70%;
            fill: white;
            transform: translate(-50%, -50%) translate(10%, 10%)
        }
    }
}