.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    background: rgba(5, 15, 30, .6);
    visibility: visible;
    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: 900ms;
    transition-timing-function: $easeInSineOutExpo;
    @include fluid-type( $mq-min-width, $mq-xxlarge-min, 12px, 20px);
    .percent {
        font-size: .75em;
        font-weight: bolder;
        margin-top: -2.6em;
        letter-spacing: .1em;
        transform: translateY(-45%);
        color: rgba(255, 255, 255, .8);
        opacity: 1;
        transition: opacity 625ms ease-out 325ms;
    }
    .animation {
        position: relative;
        width: 4.0em;
        height: 4.0em;
        background-color: rgba(5, 15, 30, 0.4);
        border-radius: 50%;
        overflow: hidden;
        transform: scale(1);
        transition: transform 625ms ease-out 0ms;
        box-shadow: 0 .5em 1em rgba(5, 15, 30, .4);
        &:after {
            position: absolute;
            width: 3.5em;
            height: 3.5em;
            top: 50%;
            left: 50%;
            transform: translate(-50.5%, -50%);
            border-radius: 50%;
            background-color: rgba(5, 15, 30, 1.0);
            box-shadow: 0 0 .5em rgba(255, 255, 255, 0.4);
            content: '';
            display: block;
            visibility: visible;
        }
        &>div {
            position: absolute;
            top: 0;
            overflow: hidden;
            width: 50%;
            height: 100%;
            flex-shrink: 0;
            &>span {
                position: relative;
                top: 0;
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 10em;
                background-color: rgb(200, 200, 200);
                // transition: transform ease-out 125ms;
            }
            &:nth-child(1) {
                left: 0;
                &>span {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    transform-origin: 0 50% 0;
                    left: 100%;
                    transform: rotate(0deg); //from 0% to 180deg - from 0 to 50%
                }
            }
            &:nth-child(2) {
                left: 50%;
                &>span {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    transform-origin: 100% 50% 0;
                    left: -100%;
                    transform: rotate(0deg); //from 0% to 180deg - from 50 to 100%
                }
            }
        }
    }
    &.hide {
        opacity: 0;
        visibility: hidden;
        transition-duration: 325ms;
        transition-delay: 225ms;
        .animation {
            transform: scale(0);
            transition-duration: 325ms;
            transition-delay: 325ms;
        }
        .percent {
            opacity: 0;
            transition-duration: 325ms;
            transition-delay: 0ms;
        }
    }
}

@keyframes load {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateY(-1.775em)
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateY(-1.775em)
    }
}