// Variables & Mixin
@import './utils/variables';
@import './utils/ease';
@import './utils/mediaqueries';
@import './utils/fluid-type';
// Styles
@import './utils/reset';
@import './utils/normalize';
@import './utils/fonts';
@import './utils/scrollbar';

// Components
@import './components/button';

body {
    position: relative;
    // display: flex;
    width: 100%;
    min-height: 100%;
    background: black;
}

#main {
    position: relative;
    height: auto;
    height: 100%;
    // display: inline-block;
}

#film {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    overflow: hidden;
}

.hud {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    user-select: none;
}

::selection {
    color: $c-white;
    background: $c-black;
    text-shadow: none;
}

@import 'loader';

@import 'scenes/city';
@import 'scenes/workload';