// Variables & Mixin
@import './utils/variables';
@import './utils/ease';
@import './utils/mediaqueries';
@import './utils/fluid-type';
// Styles
@import './utils/reset';
@import './utils/normalize';
@import './utils/fonts';
@import './utils/scrollbar';
html {
    &.wf-loading {
        .ft {
            font-family: sans-serif;
        }
        .ft_serif {
            font-family: serif;
        }
    }
}

body {
    position: relative;
    // display: flex;
    width: 100%;
    min-height: 100%;
    background: black;
}

#main {
    position: relative;
    height: auto;
    height: 100%;
    // display: inline-block;
}

#film {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    overflow: hidden;
}

.hud {
    position: absolute;
    z-index: 1;
    visibility: hidden;
}

.title {
    @include fluid-type( $mq-min-width, $mq-xxlarge-min, 30px, 60px);
    // width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-.5em);
    color: rgba(255, 255, 255, .9);
    font-family: 'Quattrocento', serif;
    padding: .25em 1em;
    padding-bottom: .1em;
    text-align: center;
}

.subtitle {
    @include fluid-type( $mq-min-width, $mq-xxlarge-min, 16px, 22px);
    // width: 100%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%) translateY(5em);
    color: rgba(255, 255, 255, .9);
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 0.1em;
    padding: .25em 1em;
    line-height: 1.4em;
    text-align: center;
    span {
        color: greenyellow
    }
}

.hud-test {
    position: absolute;
    left: 36%;
    bottom: 44%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, .8);
    @include fluid-type( $mq-min-width, $mq-xxlarge-min, 12px, 22px);
    font-weight: 300;
    letter-spacing: .05em;
    padding: .5em 1em;
    // border-right: 2px solid rgba(255, 255, 255, .8);
    // background: rgba(10, 30, 50, .4);
}

::selection {
    color: $c-white;
    background: $c-black;
    text-shadow: none;
}

@import 'loader';