// Variables & Mixin
@import './utils/variables';
@import './utils/ease';
@import './utils/mediaqueries';
@import './utils/fluid-type';
// Styles
@import './utils/reset';
@import './utils/normalize';
@import './utils/fonts';
@import './utils/scrollbar';
html {
    &.wf-loading {
        .ft {
            font-family: sans-serif;
        }
        .ft_serif {
            font-family: serif;
        }
    }
}

body {
    position: relative;
    // display: flex;
    width: 100%;
    min-height: 100%;
    background: black;
    color: #aa7700;
}

#main {
    position: relative;
    height: auto;
    height: 100%;
    // display: inline-block;
}

#film {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    overflow: hidden;
}

.hud {
    display: none;
    position: absolute;
    z-index: 2;
    // background-color: rgba(255, 255, 255, 0.1);
    user-select: none;
    &.title {
        @include fluid-type( $mq-min-width, $mq-xxlarge-min, 30px, 60px);
        // width: 100%;
        bottom: 0%;
        left: 3%;
        transform: translate(0, -50%) translateY(-2.0em);
        text-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
        color: white;
        font-family: 'Quattrocento', serif;
        padding: .25em 2vw;
        padding-bottom: .1em;
        text-align: left;
    }
    &.subtitle {
        @include fluid-type( $mq-min-width, $mq-xxlarge-min, 14px, 18px);
        // width: 100%;
        left: 3%;
        bottom: 0%;
        transform: translate(0, -50%) translateY(-4.5em);
        text-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        letter-spacing: 0.1em;
        padding: .25em 2vw;
        line-height: 1.4em;
        text-align: left;
        span {
            color: orange
        }
    }
    &.btn-start{
        left: 3%;
        bottom: 0%;
        transform: translate(0, -50%) translateY(-1em);
        a{
            @include fluid-type( $mq-min-width, $mq-xxlarge-min, 14px, 20px); // width: 100%;
            text-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            padding: .5em 2vw;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-align: left;
            display: block;
            transition: background-color 325ms $easeOutSwift;
            background-color: rgba(200, 225, 255, 0);
            &:hover{
                transition-duration: 75ms;
                background-color: rgba(200, 225, 255, 0.3);
            }
        }
    }
}



.hud-test {
    position: absolute;
    left: 40%;
    bottom: 28%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, .8);
    @include fluid-type( $mq-min-width, $mq-xxlarge-min, 12px, 22px);
    font-weight: 300;
    letter-spacing: .05em;
    padding: .5em 1em;
    // border-right: 2px solid rgba(255, 255, 255, .8);
    // background: rgba(10, 30, 50, .4);
}

::selection {
    color: $c-white;
    background: $c-black;
    text-shadow: none;
}

@import 'loader';